<a href="https://colab.research.google.com/github/abdoali2002/AI-ML/blob/main/SVR_with_multivariate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
# Libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
# Importing and displaying dataset
# uses this dataset -> https://www.kaggle.com/nehalbirla/vehicle-dataset-from-cardekho?select=Car+details+v3.csv
dataset = pd.read_csv('/content/drive/MyDrive/MSP/8th Task/Car details v3.csv')
dataset

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,Petrol,Individual,Manual,First Owner,18.5 kmpl,1197 CC,82.85 bhp,113.7Nm@ 4000rpm,5.0
8124,Hyundai Verna CRDi SX,2007,135000,119000,Diesel,Individual,Manual,Fourth & Above Owner,16.8 kmpl,1493 CC,110 bhp,"24@ 1,900-2,750(kgm@ rpm)",5.0
8125,Maruti Swift Dzire ZDi,2009,382000,120000,Diesel,Individual,Manual,First Owner,19.3 kmpl,1248 CC,73.9 bhp,190Nm@ 2000rpm,5.0
8126,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0
8127,Tata Indigo CR4,2013,290000,25000,Diesel,Individual,Manual,First Owner,23.57 kmpl,1396 CC,70 bhp,140Nm@ 1800-3000rpm,5.0

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [19]:
dataset['transmission'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [20]:
#Create Copy of Dataset
dataset_orig = dataset.copy()
# Importing required package
from sklearn.preprocessing import LabelEncoder
encode_x = LabelEncoder()

In [21]:
dataset['fuel'] = encode_x.fit_transform(dataset['fuel'])
dataset['seller_type'] = encode_x.fit_transform(dataset['seller_type'])
dataset['owner'] = encode_x.fit_transform(dataset['owner'])
dataset['mileage'] = encode_x.fit_transform(dataset['mileage'])
dataset['engine'] = encode_x.fit_transform(dataset['engine'])
dataset['max_power'] = encode_x.fit_transform(dataset['max_power'])
dataset['torque'] = encode_x.fit_transform(dataset['torque'])

In [22]:
# transmission is only either Manual or Automatic, so we can make it a dummy value
y = pd.get_dummies(dataset['transmission'], prefix='transmission')
y.head()

   transmission_Automatic  transmission_Manual
0                       0                    1
1                       0                    1
2                       0                    1
3                       0                    1
4                       0                    1

In [23]:
dataset = pd.concat([dataset,pd.get_dummies(dataset['transmission'],prefix='transmission',drop_first=True)],axis=1)
dataset.drop(['transmission'],axis=1, inplace=True)
dataset.head()

,name,year,selling_price,km_driven,fuel,seller_type,owner,mileage,engine,max_power,torque,seats,transmission_Manual
0,Maruti Swift Dzire VDI,2014,450000,145500,1,1,0,335,13,244,178,5.0,1
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,1,2,284,36,15,260,5.0,1
2,Honda City 2017-2020 EXi,2006,158000,140000,3,1,4,180,35,253,66,5.0,1
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,1,0,327,24,297,224,5.0,1
4,Maruti Swift VXI BSIII,2007,130000,120000,3,1,0,136,14,288,21,5.0,1

In [24]:
dataset

,name,year,selling_price,km_driven,fuel,seller_type,owner,mileage,engine,max_power,torque,seats,transmission_Manual
0,Maruti Swift Dzire VDI,2014,450000,145500,1,1,0,335,13,244,178,5.0,1
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,1,1,2,284,36,15,260,5.0,1
2,Honda City 2017-2020 EXi,2006,158000,140000,3,1,4,180,35,253,66,5.0,1
3,Hyundai i20 Sportz Diesel,2010,225000,127000,1,1,0,327,24,297,224,5.0,1
4,Maruti Swift VXI BSIII,2007,130000,120000,3,1,0,136,14,288,21,5.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai i20 Magna,2013,320000,110000,3,1,0,202,10,267,37,5.0,1
8124,Hyundai Verna CRDi SX,2007,135000,119000,1,1,1,154,32,30,250,5.0,1
8125,Maruti Swift Dzire ZDi,2009,382000,120000,1,1,0,222,13,241,178,5.0,1
8126,Tata Indigo CR4,2013,290000,25000,1,1,0,337,24,232,106,5.0,1
8127,Tata Indigo CR4,2013,290000,25000,1,1,0,337,24,232,106,5.0,1

In [25]:
# Converting transmission from object to integer
dataset['transmission_Manual'] = dataset['transmission_Manual'].astype(str).astype('int64')

In [26]:
dataset['seats'] = dataset['seats'].fillna(dataset['seats'].median())
dataset['seats'] = dataset['seats'].astype(float).astype('int64')

In [27]:
dataset.isna().any()

name                   False
year                   False
selling_price          False
km_driven              False
fuel                   False
seller_type            False
owner                  False
mileage                False
engine                 False
max_power              False
torque                 False
seats                  False
transmission_Manual    False
dtype: bool

In [28]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   name                 8128 non-null   object
 1   year                 8128 non-null   int64
 2   selling_price        8128 non-null   int64
 3   km_driven            8128 non-null   int64
 4   fuel                 8128 non-null   int64
 5   seller_type          8128 non-null   int64
 6   owner                8128 non-null   int64
 7   mileage              8128 non-null   int64
 8   engine               8128 non-null   int64
 9   max_power            8128 non-null   int64
 10  torque               8128 non-null   int64
 11  seats                8128 non-null   int64
 12  transmission_Manual  8128 non-null   int64
dtypes: int64(12), object(1)
memory usage: 825.6+ KB

In [29]:
features = ['year', 'km_driven', 'fuel', 'seller_type', 'owner', 'mileage', 'engine', 'max_power', 'torque', 'seats', 'transmission_Manual']
# features = ['km_driven']
target = 'selling_price'

X = dataset[features].values.reshape(-1, len(features))
Y = dataset[target].values
Y = Y.reshape(-1, 1)

In [30]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_Y = StandardScaler()
X = sc_X.fit_transform(X)
Y = sc_Y.fit_transform(Y)

In [31]:
# Spliting the datdset
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test  = train_test_split(X, Y, test_size=0.2, random_state=0)

In [32]:
from sklearn.svm import SVR
regressor = SVR()
regressor.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR()

In [33]:
Y_pred = regressor.predict(X_test)
Y_pred

array([-0.21936185,  0.35065521,  0.09759435, ...,  0.20738756,
       -0.43525833, -0.12097217])

In [34]:
from sklearn.metrics import mean_squared_error
score = regressor.score(X, Y)
print("R-squared:", score)
print("MSE:", mean_squared_error(Y_test, Y_pred))

R-squared: 0.9021688072793533
MSE: 0.1748241087090805